.header{
    
    color: black;
  text-align: center;
        background-color:powderblue;
/*    border-style: solid;*/
    height: 50px;
  width: 100%;
}

img{
    vspace: 10px;
  
    border-radius: 8px;
}



    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
/*    background-color: aquamarine;*/
    width:50px;
  }

.dropdown-conten {
    width:50px;
}


